/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}



p{
    font-size: 12px;
    
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

nav{
    display: flex;
    direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 50px;
}


.navlink{
    color: black;
    border: #0065FC;
    padding:20px 15px 20px 15px;
}

.one {
    margin-right: auto;
}

.two {
    order: 0;
    margin-right: 30px;
}


.search-container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 1px;
    width: fit-content;
   
  }
  
  .map{
    color: black;
    display: flex;
    align-items: center;
    padding: 13px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border-color: black;
  }
 
  .location-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    
   
  }
  
  .location-input .icon {
    margin-right: 10px;
    color: black;
  }
  
  .location-input input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 150px;
  }
  

  .search-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }

  .filters-container {
    margin-top: 30px;
    display: flex; 
    align-items: center; 
    gap: 15px; 
    margin-bottom: 25px;
  }
  
  .filter-mot {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  
  .buttons-place {
    display: flex; 
    gap: 10px; 
  }
  
  .filter-button {
   font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px; 
    padding: 10px 20px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 14px;
  }
  
  .filter-button i {
    font-size: 16px;
  }
  
  .filter-button:hover {
    background-color: #e7f0ff; 
    color: #007bff; 
  }
  
 .information{
    font-style:oblique ;
 }

 .info{
    color: blue;
    font-family:Arial, Helvetica, sans-serif;
    padding: 2px 7px;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    margin-right: 10px;
 }
  
 
  



.fa-coins {
    color: var(--main-color);
    border-radius: 5px 0px 0px 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 20px;  
}


.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;  
    overflow: hidden;
}

.hebergements-cards img {
    width: 100%;
    height: 120px; 
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 

}

.hebergements-cards .card-title {
    margin-top: 0px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.boutonPlus{
    font-size: 18px;
    cursor: pointer;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.Activités {
    width: 65%;
}

.Activités-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 50px;
}

.Activités-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}


.Activités-cards .card {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    overflow: hidden;
    border: 0 solid;
}



.Activités-cards img {
    height: 380px; 
    object-fit: cover; 
    width: 300px;
    border-radius: 20px 20px 0 0;
}


.Activités-cards .card-content {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 

}

.Activités-cards .card-title {
    margin-top: 0px;
    margin-bottom: 4px;
}




.button {
    margin: 10px 0px;
    padding: 18px 30px;
    background-color: white;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: right;
    justify-content: center;
    text-decoration: none;

}




.navlink:hover{
	color: var( --main-color);
	border-top: 2px solid var( --main-color);
	padding:20px 15px 20px 15px;
    
}

.footer-container{
    background-color: var(--main-bg-color) ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
}

.navfoot{
    display: flex;
	flex-direction: column;
    flex-wrap: nowrap;

}







/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}